{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %} 
    {% for category, message in messages %}
    {% if category == 'success' %}
        <div class="notification is-success">{{ message }}</div>
    {% else %}
        <div class="notification is-danger">{{ message }}</div>
    {% endif %}
    {% endfor %}
{% endwith %}
    <div class="box">
        <form method="POST" action="/book_parking">
            <fieldset>
                <legend>Choose a parking spot</legend>
                <div class="control">
                </div>
            </fieldset>
            <button class="button is-block is-info is-large is-fullwidth" type="submit">Save</button>
        </form>
    </div>
{% endblock %}
